<form [formGroup]="profileForm" style="display: flex; flex-direction: column">
    <div>First Name</div>

    <app-text-field formControlName="firstName">
    </app-text-field>

    <div> Last Name</div>

    <app-text-field formControlName="lastName">
    </app-text-field>

    <app-button (click)="_addAlias()" style="margin: 8px 0">
        Add Control
    </app-button>

    <div formArrayName="aliases">
        <div *ngFor="let address of aliases.controls; let i=index">
            <div>{{i}}</div>
            <app-text-field [formControlName]="i"></app-text-field>
        </div>
    </div>

</form>
