.tab-panel {
  display: flex;
  flex-direction: column;

  &__tabs {
    display: flex;
    justify-content: center;
  }

  &__tab {
    position: relative;
    margin-right: 16px;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    font-size: 24px;
    transition: transfortm ease 0.2s;

    &._selected {
      cursor: default;
    }

    &._selected::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -4px;
      border-bottom: 4px solid grey;
    }

    &:hover:not(._selected)::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -4px;
      border-bottom: 2px solid grey;
    }
  }

  &__tab:hover:not(._selected) &__title {
    transform: translate3d(0, -4px, 0);
  }
}
