<header class="app__header">

    <div class="app__header-logo">
        <span class="app__header-text">Angular Sandbox</span>

        <svg class="app__header-icon"
             viewBox="0 0 20 20">
            <use href="#sandbox"></use>
        </svg>
    </div>

</header>

<app-tab-panel>
    <app-tab-panel-item
            *ngFor="let item of _items"
            [title]="item.title">
        <div class="app__links">
            <div class="app__link"
                 *ngFor="let links of item.children"
                 [routerLink]="links.routerLink"
                 routerLinkActive="_active"
            >
                {{links.title}}
            </div>
        </div>
    </app-tab-panel-item>
</app-tab-panel>

<main class="app__main">
    <router-outlet></router-outlet>
</main>

