.app {
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: grey;

    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-text {
      color: white;
      font-family: sans-serif;
      margin-right: 16px;
      font-size: 26px;
    }

    &-icon {
      width: 60px;
      height: 60px;
      fill: white;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    margin: 60px;
  }

  &__links {
    display: flex;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex-basis: 33.3%;
  }

  &__link {
    text-decoration: none;

    &._active {
      text-decoration: underline;
    }
  }
}
